{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}

<div class="container mx-auto my-5" style="justify-content: center; display: flex; align-items: center;">
    <div class="sub-container  p-5" style=" height:auto ; width:100%; border: 2px solid black; ">

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control mt-2' }}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
            <button style="width: 100%; margin-top: 45px;" type="submit" class="btn btn-primary">Submit News</button>
        </form>
    </div>
</div>

{% endblock %}